
.title{
direction: rtl;
padding-right: 2cm;
line-height:10px;
font-family:farah;

}

.arabic{
direction:rtl;
font-size:20px;
line-height:40px;
padding-right: 1cm;
padding-left: 1cm;
text-align:justify;
font-family:molhim;
}

.horizontal{
height:2px;
border:none;
color:#333;
background-color:#333;
width:75%;
}

