@import url('https://www.fontstatic.com/f=yassin,amiri-quran,basim-marah,b-compset');


@font-face {
  font-family: Arslan;
  src: url("./Arslan.ttf");
}

.title{
direction: rtl;
font-size:50px;
padding-right: 15px;
line-height:10px;
font-family:Arslan;
}

div.text_cell pre.CodeMirror-line {
direction:rtl;
font-size:20px;
color:Blue;
line-height:40px;
padding-right: 1cm;
padding-left: 1cm;
text-align:justify;
font-family:amiri-quran;
}
.jp-RenderedHTMLCommon {
direction:rtl;
font-size:20px;
line-height:40px;
padding-right: 1cm;
padding-left: 1cm;
text-align:justify;
font-family:amiri-quran;
}

.rendered_html p {
direction:rtl;
font-size:20px;
line-height:40px;
padding-right: 1cm;
padding-left: 1cm;
text-align:justify;
font-family:amiri-quran;
}

.jp-RenderedHTMLCommon h1{
direction: rtl;
font-size:200%;
text-align:center;
padding-right: 55px;
font-family:Arslan;
}

.jp-RenderedHTMLCommon h2{
direction: rtl;
font-size:171%;
padding-right: 55px;
line-height:10px;
font-family:Arslan;
}

.jp-RenderedHTMLCommon h3{
direction: rtl;
font-size:141%;
padding-right: 55px;
line-height:10px;
font-family:Arslan;
}

.jp-RenderedHTMLCommon ul {
    list-style-type: none;
}

.jp-RenderedHTMLCommon ul li:before {
  content: '-';
  position: absolute;
  margin-right: -10px;
}

.arabic{
direction:rtl;
font-size:20px;
line-height:40px;
padding-right: 1cm;
padding-left: 1cm;
text-align:justify;
font-family:amiri-quran;
}

.horizontal{
height:2px;
border:none;
color:#333;
background-color:#333;
width:75%;
}
.jupyter-widgets{
    font-size:20px;
    direction:rtl;
    margin-right:25px;
    font-family:amiri-quran;
        
}
.widget-radio-box input{
    float:right;
    direction:ltr;
    margin: 0 calc( var(--jp-widgets-input-padding) * 2 ) 0 10px;
    text-align:right;
    height: 30px;
}
.widget-radio{
    flex-direction: column;
    width:unset;
    
}
.widget-label{  
    font-family:amiri-quran;
    font-size:18px;
    height: 40px;
}

.widget-radio-box label {
    font-size:18px;
    height: 30px;
}

.true-grade{
    color:green;
}
.false-grade{
    color:red;
}
label:lang(en){
    direction:ltr;
    text-align:right;
}
.s{
    line-height:unset;
    height:unset;
}
.CodeMirror-wrap {
    font-size:16px;
}

.basic_table{
    font-size:20px;
    color:"green";
}
ol {
    margin-right:25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2px;
  padding: 2px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}