@import url('https://www.fontstatic.com/f=yassin,amiri-quran,basim-marah,b-compset');
@font-face {
    font-family: Arslan;
    src: url(../../Arslan.ttf);
  }

body{
    width:1200px;
    background-color: lightgrey;
    border: 1px solid black;
    margin:20px auto auto;
    direction:rtl;
    font-family:"amiri-quran";
}
div{
    margin:auto
}
h1{
    font-size: 40px;
    text-align: center;
    font-family: "Arslan";
}
img.coverpage{
    width:100%;
    height:100%;
}
img.author{
    width:300px;
    height:auto;
    margin-bottom: 30px;
}
.container{
    display:grid;
    grid-template-columns:  300px auto;
    grid-gap:0px;
    background:whitesmoke;
}
.content_table{
    background-color: rgb(175, 186, 197);
    margin:0px;
}
p{
    margin:40px;
    text-align: justify;
    font-size: 20px;
}